<!DOCTYPE html>
	<html ng-app="calendarModule">
		<head>
			<title>Infinite Agenda</title>
			<link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" type="text/css" href="styles.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		</head>
		<body ng-controller="calendarController">
			<div class="fixedHeader box-shadow">
				<h1>Infinite Agenda</h1>
				<nav><a href="#">back to top</a>
			</div>
			<div class="allDates">
				<div class="singleDate">
					<table class="box-shadow" ng-repeat="object in calendar">
						<tr>
							<td class="date">{{object.date}}</td>
							<td class="appointment">
								{{object.appointment}}
								<input ng-model="editCalendar.appointment" ng-show="object.visibility" type="textarea">
								<button ng-hide="object.visibility" ng-click="editClick($index)" class="button edit-button">
									Edit appointments...
								</button>
								<button class="button submit-button" ng-click="submitClick($index)" ng-show="object.visibility">Submit changes...</button>
								
							</td>
						</tr>
					</table>
				</div>	
			</div>
			<script src="script.js"></script>
		</body>
	</html>